{% block css %}
<link rel="stylesheet" type="text/css" href="{{baseUrl}}/static/css/footer.css" />
{% endblock %}
<div class="footer">
    <div class="footer-hetrone">
        <div class="footer-hetrone-code">
            <ul class="footer-hetrone-describe clearfix">
                <li>
                    <span></span>
                    <a href="/about.html">关于我们</a>
                    <a href="/safety.html">安全保障</a>
                </li>
                <li>
                    <span></span>
                    <a href="/">资讯问答</a>
                    <a href="/">信息披露</a>
                </li>
            </ul>
            <p class="footer-hetrone-weixincode">
                <span class="footer-hetrone-weixin">
                    <img src="{{baseUrl}}/static/img/footer/jdjk-weixin.jpg" alt="简单借款客户端"/>
                    简单借款客户端
                </span>
                <span class="footer-hetrone-weibo">
                    <img src="{{baseUrl}}/static/img/footer/jdjk-gzh.jpg" alt="简单借款微信公众号"/>
                    简单借款微信公众号
                </span>
            </p>
        </div>
        <div class="footer-hetrone-friends">
            <a target="_blank" href="http://www.itrust.org.cn/home/index/wx_certifi/wm/WX2017072701"><img src="{{baseUrl}}/static/img/footer/jdjk1.png" alt="官网认证点击查验证书"></a>
            <a target="_blank" href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/PJ2017072101 "><img src="{{baseUrl}}/static/img/footer/jdjk2.png" alt="网信认证企业信息评级"></a>
            <a target="_blank" href="http://www.itrust.org.cn/home/index/satification_certificate/wm/MY2017072702 "><img src="{{baseUrl}}/static/img/footer/jdjk3.png" alt="网信客户满意度"></a>
            <a target="_blank" href="http://www.isc.org.cn/xhhy/hydw/listinfo-15620.html"><img src="{{baseUrl}}/static/img/footer/jdjk4.png" alt="中国互联网协会"></a>
            <a target="_blank" href="http://www.hd315.gov.cn/"><img src="{{baseUrl}}/static/img/footer/jdjk5.png" alt="经营性网站备案信息"></a>
            <a target="_blank" href="http://www.12377.cn/" style="margin-right:0px!important" class="last-child"> <img src="{{baseUrl}}/static/img/footer/jdjk6.png" alt="违法和不良信息举报中心"></a>
        </div>
        <div class="footer-hetrone-possession clearfix">
            <p class="ps-text">©2016 简单借款 京ICP备14020586号-3 京ICP证151050号</p>
            <p class="ps-company">泰州和创互联网科技小额贷款有限公司</p>
        </div>
    </div>
</div>
