{% block css %}
<link rel="stylesheet" type="text/css" href="{{baseUrl}}/static/css/footer.css"/>
{% endblock %}
<div class="boxfooter"></div>
<div class="footer">
    <div class="footer-hetrone">
        <div class="footer-hetrone-code">
            <div class="footer-hetrone-url">
                <a>和创金服集团</a>&nbsp;|&nbsp;
                <a href="https://www.fatoocar.com/">发条汽车</a>&nbsp;|&nbsp;
                <a>链海金融</a>&nbsp;|&nbsp;
                <a href="http://hechuanghuijin.com/">和创汇金</a>&nbsp;|&nbsp;
                <a href="http://www.ufenqi.com/">优分期</a>&nbsp;|&nbsp;
                <a href="https://www.jiandanjiekuan.com/">简单借款</a>&nbsp;|&nbsp;
                <a>年轮数据</a>
            </div>
            <div class="footer-hetrone-possession">
                <span>Copyright © 2018 HETRONE. All Rights Reserved. 和创金服 版权所有</span>
                <span>京ICP备14020586号-4</span>
            </div>
        </div>
        <div class="footer-hetrone-logo">
            <img src="{{baseUrl}}/static/images/logo.jpg" alt="logo">
        </div>
    </div>
</div>
