{% extends "jdjk-pc/partials/layout.html" %}


{% block headerCss %}
<link rel="stylesheet" type="text/css" href="{{baseUrl}}/css/download.css" />
{% endblock %}

{% block body %}
<div class="banner">
	<div class="out">
		<div class="bannerLeft">
			<div class="bannerIcon">
				<img src="{{baseUrl}}/img/bannerIconImg.png">
				<div>
					<strong>简单借款</strong>
					<span>口袋里的借款利器</span>
				</div>
			</div>
			<div class="line"></div>
			<p>灵活产品搭配 , 满足多样需求</p>
			<p class="types"><i class="dot"></i><span class="tit">极速借款 :</span> 100-3000元 , 1-3周</p>
			<p class="types"><i class="dot"></i><span class="tit">现金分期 :</span> 3000-10000元 , 3-12月</p>
		</div>
		<div class="bannerRight">
			<img src="{{baseUrl}}/img/phone.png" class="phone"/>
		</div>
	</div>
</div>
<div class="summary">
	<div class="out">
		<div class="summaryContent">
			<span class="summaryIcon1"></span>
			<strong>零门槛</strong>
			<p>零担保 零抵押</p>
			<p>无需面签</p>
		</div>
		<div class="summaryContent">
			<span class="summaryIcon2"></span>
			<strong>极速认证</strong>
			<p>手机提交资料</p>
			<p>10分钟通过</p>
		</div>
		<div class="summaryContent">
			<span class="summaryIcon3"></span>
			<strong>快速到账</strong>
			<p>1分钟到账</p>
			<p>无需等待</p>
		</div>
		<div class="summaryContent marginLeft14">
			<span class="summaryIcon4"></span>
			<strong>安全保障</strong>
			<p>全面隐私保护</p>
			<p>值得信赖</p>
		</div>
	</div>
</div>
<div class="content content1">
	<div class="out">
		<div class="contentImg left">
			<img class="" src="{{baseUrl}}/img/content1Img.png"/>
		</div>
		<div class="contentText rightText">
			<div class="article">
				<strong>超低门槛</strong>
				<p>零门槛、零担保、零抵押</p>
				<p>无需提供任何纸质资料</p>
			</div>
		</div>
	</div>
</div>
<div class="content content2">
	<div class="out">
		<div class="contentText leftText">
			<div class="article">
				<strong>超简流程</strong>
				<p>只需进行身份、联系人、手机号、</p>
				<p>银行卡四步认证全程自动化审核&nbsp;&nbsp;&nbsp;</p>
			</div>
		</div>
		<div class="contentImg right">
			<img class="" src="{{baseUrl}}/img/content2Img.png"/>
		</div>
	</div>
</div>
<div class="content content3">
	<div class="out">
		<div class="contentImg left leftReset">
			<img class="" src="{{baseUrl}}/img/content3Img.png"/>
		</div>
		<div class="contentText rightText">
			<div class="article">
				<strong>超快速度</strong>
				<p>10分钟极速过审，1分钟快速到账</p>
				<p>飞速体验，无需等待</p>
			</div>
		</div>
	</div>
</div>
<div class="content content4">
	<div class="out">
		<div class="contentText leftText">
			<div class="article">
				<strong>安全保障</strong>
				<p>合法合规保障隐私</p>
				<p>360°全方位维护信息安全</p>
			</div>
		</div>
		<div class="contentImg right">
			<img class="" src="{{baseUrl}}/img/content4Img.png"/>
		</div>
	</div>
</div>
<div class="friendSay">
	<div class="out">
		<h5>朋友们都在使用简单借款</h5>
		<div class="aside leftText">
			<div class="marginRight40">
				<strong class="person person1"></strong>
				<div>王先生 25岁 IT工程师</div>
			</div>
			<p>”简单借款，懂我们年轻人的不易——工作时间长了，身材就走了样。在简单借款借了5000元去办了张健身卡，快速的认证流程，低廉的手续费，让我这一年都能保持充沛的活力“</p>
		</div>
		<div class="aside rightText">
			<p class="trangleRight">“每月剁手不停，看到什么都想买。这次交房租，发现差3000块，向父母、朋友借钱太难开口。下载了简单借款，提交资料后，没一会儿的功夫钱就到账了，大力推荐！“</p>
			<div class="marginLeft40">
				<strong class="person person2"></strong>
				<div>孙小姐 25岁 市场销售</div>
			</div>
		</div>
		<div class="aside leftText">
			<div class="marginRight40">
				<strong class="person person3"></strong>
				<div>刘先生 30岁 建筑设计师</div>
			</div>
			<p>“ 去年刚买的新房，月月要还房贷，想享受生活，却总会遇到资金紧张的时候。朋友向我推荐了简单借款，提交的资料很简单，只用了不到10分钟就拿到了钱，真的是很简单。”</p>
		</div>
	</div>
</div>
<div class="mediaReport">
	<div class="out">
		<h5>媒体报道</h5>
		<div class="mediaSummary">
			<a href="/reportDetail.html?media=souhu" rel="nofollow">
				<img src="{{baseUrl}}/img/souhuImg.jpg"/>
				<p>不止“简单一点”和创金服简单借款移动化创新</p>
			</a>
			<a href="/reportDetail.html?media=tengxun" rel="nofollow">
				<img src="{{baseUrl}}/img/tengxunImg.jpg"/>
				<p>简单借款&nbsp; 口袋里的借款利器</p>
			</a>
			<a href="/reportDetail.html?media=xinlang" rel="nofollow">
				<img src="{{baseUrl}}/img/xinlangImg.jpg"/>
				<p>简单借款&nbsp; 助你打造属于自己的信用钱包</p>
			</a>
		</div>
	</div>
</div>

<div class="gray_content">
	<div class="out">
		<div id="wdContainer" data-type="wd" class="cont_left">
			<h2>问答<a href="/wenda/">+ 更多</a></h2>
			<ul>
				{% for item in wenda %}
				<li><a href="/wenda/{{item.id}}.html" title="{{item.title}}">•  {{item.title}}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div id="zxContainer" data-type="zx" class="cont_right">
			<h2>资讯<a href="/zixun/">+ 更多</a></h2>
			<ul>
				{% for item in zixun %}
				<li><a href="/zixun/{{item.id}}.html" title="{{item.title}}">•  {{item.title}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

</div>
<div class="cooperate">
	<div class="out">
		<h5>友情链接</h5>
		<ul style="height: 50px;">
			<li>
				<a href="http://www.fujiancaifu.cn/" target="_blank">投资理财知识</a>
			</li>
			<li>
				<a href="http://www.toprichall.com/" target="_blank">网贷平台</a>
			</li>
			<li>
				<a href="http://www.zcaijing.com/" target="_blank">炒股入门</a>
			</li>
			<li>
				<a href="http://www.feinongbao.com/ " target="_blank">非农宝</a>
			</li>
			<li>
				<a href="http://www.ikkwt.com/" target="_blank">快快微投</a>
			</li>
		</ul>
		<div class="inner">
		</div>
	</div>
</div>
<div class="maskBand">
	<div class="imgBox">
		<img src="{{baseUrl}}/img/bandChangeImg.png">
	</div>
	<div class="hiddenDiv"></div>
</div>
<script src="{{baseUrl}}/js/download.js"></script>
{% endblock %}


